<div class="container">
  <h3>Search by country:</h3>
  <%= form_tag(transactions_path, method: "get") do %>
    <select name=q class="form-control">
    <%# <% @transactions.distinct.pluck(:country).each do |country| %>
      <%# <option value="#{country}"><%= country %>
      <%# </option> %>
    <%# end %>
    <option value="All">All countries</option>
    <%# le value None je peux peut-être le bidouiller %>
    <option value="United Kingdom">United Kingdom</option>
    <option value="France">France</option>
    </select>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<% if params["q"] %>
  <h3>Results for <%= params["q"] %></h3>
<% else %>
  <h3>Results for all countries</h3>
<% end %>


<%= @total_sum %>
<br>
<%= @average_per_order %>
<br>
<%= @uniq_customers %>
<br>
<%= @uniq_orders %>
